.head {
    background-color: #141314;
    color: #d19295;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    font-family:Copperplate, fantasy;
    letter-spacing:3px;
}
button{
    font-family:"Courier New", monospace;
    color: white;
}

.right{
    float: right;
    text-align: center;
    margin: 10px;
    margin-top:20px;
    padding:10px;
    padding-top: 20px;
    padding-bottom:20px;
    background-color: #141314;
    color:white;
    border-radius:20px;
    font-weight: bold;
    font-family: Monaco,monospace;
    width:550px;
    margin-right: 40px;
}
.mid{
    text-decoration: none;
    font-size: 4rem;
    color: white;
    letter-spacing: 1px;
    font-weight:bold;
}
a{
    text-decoration: none;
    font-size: 4rem;
    color: white;
    letter-spacing: 1px;
    font-weight:bold;
}
a:hover{
    text-decoration: overline;
    color: #d8bfe3;
}
ol{
    padding:50px;
    padding-left:120px;
    list-style-type:none;
    line-height: 200%;
}
span{
    background-color: black;
    display:inline-block;
    border-radius: 100px;
    padding:50px;
    padding-top:5px;
    padding-bottom:5px;
    margin:10px;
    text-align:center;
    
}
#add{
    color: white;
    padding:70px;
    font-size:150%;
    text-align:center;
}
.link{
    font-size: 100%;
}
.dropdown-item{
    font-size:150%;
    color:pink;
    font-style:oblique;
    font-family:Arial, sans-serif;
}
.dropdown-menu{
    background-color: #b094a7;
}
.new-nav
{
    font-size:100%;
    margin-left:92px;
    margin-right:90px;
}








